<nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Web</a>
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
      <div></div>

      <ul id="nav_user_links" class="navbar-nav mb-2 mb-lg-0">
        {% if user.authenticated %}
          <li class="nav-item">
            <a id="nav_create_post" class="nav-link" href="#">
              Create
            </a>
          </li>

          <li class="nav-item dropdown">
            <button id="nav_user_menu" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.email }}
            </button>
            <ul class="dropdown-menu">
              <li>
                <a id="nav_sign_out" class="dropdown-item" href="#">
                  Sign Out
                </a>
              </li>
            </ul>
          </li>

        {% else %}
          <li class="nav-item">
            <button id="nav_login" class="nav-link" data-bs-toggle="modal" data-bs-target="#login_modal">
              Sign In
            </button>
          </li>

          <li class="nav-item">
            <button id="nav_register" class="nav-link" data-bs-toggle="modal" data-bs-target="#register_modal">
              Sign Up
            </button>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{% include 'components/modals/login.html' %}
{% include 'components/modals/register.html' %}
