<nav id="table_paginator" aria-label="table_paginator_label">
  <ul class="pagination">
    <li class="page-item"><a id="first_page" class="page-link" href="#"><i data-feather="chevrons-left" class="icon-size-20"></i></a></li>
    <li class="page-item"><a id="previous_page" class="page-link" href="#"><i data-feather="chevron-left" class="icon-size-20"></i></a></li>
    <li class="page-item"><a id="next_page" class="page-link" href="#"><i data-feather="chevron-right" class="icon-size-20"></i></a></li>
    <li class="page-item"><a id="last_page" class="page-link" href="#"><i data-feather="chevrons-right" class="icon-size-20"></i></a></li>
  </ul>
</nav>
