<nav id="table_paginator" aria-label="table_paginator_label">
  <ul class="pagination">
    <li class="page-item disabled"><a class="page-link"><i data-feather="chevrons-left" class="icon-size-20"></i></a></li>
    <li class="page-item disabled"><a class="page-link"><i data-feather="chevron-left" class="icon-size-20"></i></a></li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#"><i data-feather="chevron-right" class="icon-size-20"></i></a></li>
    <li class="page-item"><a class="page-link" href="#"><i data-feather="chevrons-right" class="icon-size-20"></i></a></li>
  </ul>
</nav>
