<table id="comment_table" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Text</th>
      <th scope="col">Updated</th>
      <th scope="col">Created</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  <tr id="empty_row" class="align-middle d-none" style="height: 90px;">
      <td>-</td>
      <td>-</td>
      <td class="w-100">-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
