<table id="comment_table" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col"><a href="#" id="email_col" data-sort="">Email</a></th>
      <th scope="col"><a href="#" id="username_col" data-sort="">Username</a></th>
      <th scope="col">Text</th>
      <th scope="col"><a href="#" id="updated_col" data-sort="">Updated</a></th>
      <th scope="col"><a href="#" id="created_col" data-sort="">Created</a></th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  <tr id="empty_row" class="align-middle d-none" style="height: 90px;">
      <td>-</td>
      <td>-</td>
      <td class="w-100">-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
