<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Text</th>
      <th scope="col">Updated</th>
      <th scope="col">Created</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr class="align-middle" style="height: 120px;">
      <th scope="row">1</th>
      <td>mark@example.com</td>
      <td>mark1234</td>
      <td><div class="text-truncate-multiline">{% lorem %}</div></td>
      <td>01.12.2000</td>
      <td>01.12.2000</td>
      <td>
        <div class="d-flex flex-column">
          <a name="read" class="text-decoration-none align-self-center" href="#"><i data-feather="book-open"></i></a>
          <a name="answer" class="text-decoration-none align-self-center" href="#"><i data-feather="message-square"></i></a>
          <a name="edit" class="text-decoration-none align-self-center" href="#"><i data-feather="edit"></i></a>
          <a name="delete" class="text-decoration-none align-self-center" href="#"><i data-feather="trash-2"></i></a>
        </div>
      </td>
    </tr>
    <tr class="align-middle" style="height: 120px;">
      <th scope="row">2</th>
      <td>bob@example.com</td>
      <td>bob1234</td>
      <td><div class="text-truncate-multiline">{% lorem %}</div></td>
      <td>01.12.2000</td>
      <td>01.12.2000</td>
      <td>
        <div class="d-flex flex-column justify-content-center">
          <a name="read" class="text-decoration-none align-self-center" href="#"><i data-feather="book-open"></i></a>
          <a name="answer" class="text-decoration-none align-self-center" href="#"><i data-feather="message-square"></i></a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
