{% extends 'components/modals/base_modal_form.html' %}
{% block modal_id %}login{% endblock modal_id %}
{% block modal_title %}Login{% endblock modal_title %}
{% block form_id %}login{% endblock form_id %}
{% block form_action %}{% url 'user-login' %}{% endblock form_action %}
{% block form_method %}post{% endblock form_method %}
{% block submit_name %}Sign In{% endblock submit_name %}
{% block form_fields %}
  <div class="mb-3">
    <label for="email_field" class="form-label">Email</label>
    <input id="email_field" class="form-control" name="email" type="email" required>
    <div class="invalid-feedback"></div>
  </div>
  <div class="mb-3">
    <label for="password_field" class="form-label">Password</label>
    <input id="password_field" class="form-control" name="password" type="password" required>
    <div class="invalid-feedback"></div>
  </div>
{% endblock form_fields %}
